/* general rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  flex-direction: column;
}

/* container with questions, answers and  scoreboard */
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

/* buttons */
.btn-grid {
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: white;
  border-radius: 10px;
  border-color: white;
  padding: 10px;
  display: grid;
}

.btn:hover {
  border-color: black;
}

/* start and next button */
.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  border-color: white;
  padding: 10px 20px;
}

/* introduction text and start button */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* make invisible */
.hide {
  display: none;
}